.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1e1e1e;
}

.login-card {
  background-color: rgba(30, 30, 30, 0.9);
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form-section {
  flex: 1;
  padding: 20px;
}

.login-header {
  text-align: center;
  margin-bottom: 30px;
}

.login-header h1 {
  color: white;
  font-size: 2em;
  margin-bottom: 10px;
}

.login-header p {
  color: #666;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  color: #666;
  margin-bottom: 5px;
}

.input-group {
  position: relative;
  margin-bottom: 15px;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  z-index: 10;
  pointer-events: none;
}

.input-group input {
  width: 100%;
  padding: 8px 12px 8px 35px;
  border-radius: 4px;
}

/* Asegurarse que los iconos estén por encima */
.fas {
  position: relative;
  z-index: 10;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.register-link {
  text-align: center;
  margin-top: 20px;
  color: #666;
}

.register-link a {
  color: #4CAF50;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.email-icon::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0e0"; 
  
  
}

.password-icon::before {
  font-family: "Font Awesome 5 Free";
  content: "\f023";
} 